/*
author: Rakib Hossain;
email: rakibwebdev1@gmail.com;
*/
/* Global Css*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap');
body{
	color: #000000;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}
html {
  scroll-behavior: smooth;
}
h1{
	color: #767489;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 15px;
	text-align: center;
	text-transform: uppercase;
}
section{
	padding: 50px 0px;
	color: #000000;
}
.btn-custom{
	background-color: #767489;
	color: #ffffff;
}
.align-right{
	text-align: right;
}
.align-left{
	text-align: left;
}

/*Header section*/
.social{
	padding: 5px 5px !important;
}
.phone::before {
  content: "\f10b";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding-right: 5px;
  color: #767489;
  font-size: 17px;
}
.email::before {
  content: "\f003";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding-right: 5px;
  color: #767489;
  padding-left: 25px;
}
.fa-facebook-official{
	color: #3578E5;
    padding-left: 10px;
    font-size: 20px;
}
.fa-twitter-square{
	color: #3578E5;
    padding-left: 10px;
    font-size: 20px;
}
header{
	background: url(../img/banner-bg.webp);
	background-size: cover; 
}
.logo{
	height: 60px;
    width: 70px;
}
.fa-bars{
	color: #fbf2f2;
}
.navbar{
	padding-bottom: 0px;
}
.nav-link{
	color: #ffffff !important;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	padding-right: 15px !important;
	transition: 0.3s;
}
.nav-link:hover{
	background-color: #767489;
	border-radius: 10px;
	color: #ffffff !important;
}
hr{
	border: 1px solid #989898;
	margin-top: 0px;
}
.tag-line h1{
	padding-top: 100px;
	text-align: center;
	padding-bottom: 100px;
	color: #fbf2f2 !important;
}
/*Offer section*/
.offer{
	text-align: center;
}
.offer h1{
	text-transform: uppercase;
}

/*How it works section*/
.how-it-works{
	text-align: center;
}
.how-it-works h1{
	text-transform: uppercase;
}
.how-icon-bg{
	background-color: #767489;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}
.card:hover{
	cursor: pointer;
	background-color: #989898;
}
.icons{
	font-size: 25px;
    line-height: 45px;
    color: #ffffff;
}
/* Prices */
 .price{
 	background-color: #f4f4f4;
 }
 .prices{
 	width: 45%;
 	display: block;
 	margin: 0 auto;
 }

 .price-heading p{
 	color: #5a5a5a;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 15px;

 }
 .price-top{
 	background-color: #5a5a5a;
 	padding-top: 10px;
 }
 .price-top-two{
 	background: rgb(152,152,152);
	background: linear-gradient(90deg, rgba(152,152,152,1) 0%, rgba(193,193,193,1) 59%);
 }
 .price-top h1{
 	color: #ffffff;
 	padding-top: 20px;
 	text-align: center;
 }
  .price-top h6{
 	color: #ffffff;
 	text-align: center;
 	padding-bottom: 85px;
 }
 .price-bottom{
 	position: relative;
 	background-color: #ffffff;
 	margin-top: -6px;
 	padding-bottom: 50px;
 }
.package {
	text-align: center;
    color: #ffffff;
    font-size: 25px;
}
.price-bottom h6{
	text-align: center;
	line-height: 20px;
	color: #5a5a5a;
}
.project{
	padding-top: 45px;
}

.btn-buy-now{
    margin: 0 auto;
    display: block;
    padding: 5px 42px;
    margin-top: 35px;
    border-radius: 10px;
}

/*Review Section start*/
.review h1{
	text-align: center;
}
.review-sub{
	text-align: center;
	padding-bottom: 20px;
}
.carousel{
	width: 80%;
	display: block;
	margin: 0 auto;
}
.user-review-image{
	height: 200px;
	width: 150px;
	display: block;
	margin: 0 auto;
}
.review h5{
	padding-top: 50px;
}
.carousel-indicators li {
    background-color: #8a7171;
}
.carousel-indicators {
    bottom: -55px;
}

/*Faq section start */
.header-faq{
	background-color: #f7f7f7;
}
.header-faq h1{
	text-align: center;
}
.faq{
	background-color: #ffffff;
    padding: 25px 40px;
    padding-bottom: 100px;
}
.faq-one, .faq-two, .faq-three, .faq-four {
    font-weight: 400;
    padding: 5px 0px;
    font-size: 20px;
}

.faq-one, .faq-two, .faq-three, .faq-four:hover {
    cursor: pointer;
}

/*New css*/
.claim-section{
	background-color: #989898;
	padding-top: 50px;
	padding-bottom: 50px;
}
.post-claim-form{
	display: block;
	margin: 0 auto;
	width: 45%;
}
.post-claim-btn{
	display: block;
	margin: 0 auto;
}
.post-question h1{
	text-transform: uppercase;
	text-align: center;
}
.post-question p{
	text-align: center;
}
.ques-form{
	width: 75%;
	display: block;
	margin: 0 auto;
}
.ques-btn{
	display: block;
	margin: 0 auto;
}
.contact h1{
	text-transform: uppercase;
	text-align: center;
}
.choose-bottom{
	margin-top: 20px;
}
body{
	position: relative;
}
.go-top{
	position: fixed;
    bottom: 70px;
    right: 70px;
    background-color: #989898;
    width: 56px;
    height: 56px;
    color: #eaeaea;
    border-radius: 100%;
    padding-left: 8px;
    font-size: 41px;
    opacity: 0.1;
}
.go-top:hover{
    opacity: 1;
}