/*
author: Rakib Hossain;
email: rakibwebdev1@gmail.com;
*/
/* Global Css*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
body{
	color: #000000;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}
html {
  scroll-behavior: smooth;
}
h1{
	color: black;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 15px;
	text-align: center;
	text-transform: uppercase;
	font-weight:bold;
}
section{
	padding: 20px 0px;
	color: #000000;
}
.btn-custom{
	background-color: black;
	color: #ffffff;
}
.btn-custom:hover{
    cursor:pointer;
	color: #ffffff;
}
.align-right{
	text-align: right;
}
.align-left{
	text-align: left;
}

/*Header section*/
.social{
	padding: 0px 0px !important;
}
.phone::before {
  content: "\f10b";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding-right: 5px;
  color: #767489;
  font-size: 17px;
}
.email::before {
  content: "\f003";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding-right: 5px;
  color: #767489;
  padding-left: 25px;
}
.fa-facebook-official{
	color: #3578E5;
    padding-left: 10px;
    font-size: 20px;
}
.fa-twitter-square{
	color: #3578E5;
    padding-left: 10px;
    font-size: 20px;
}
header{
	background-color: black;
}
.banner{
    animation: bannermate 10s ease-in infinite;
    background-size: cover;
}
@keyframes bannermate{
	0%{
		background: url(../img/banner-bg-one.jpg) no-repeat;
		background-size: cover;
	}
	50%{
		background: url(../img/banner-bg-two.jpg) no-repeat;
		background-size: cover;
	}
	100%{
		background: url(../img/banner-bg-three.jpg) no-repeat;
		background-size: cover;
	}

}
.logo{
	height: 60px;
    width: 70px;
}
.fa-bars{
	color: #fbf2f2;
}
.navbar{
	padding-bottom: 0px;
}
.nav-link{
	color: #ffffff !important;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	padding-right: 15px !important;
	transition: 0.3s;
}
.nav-link:hover{
	background-color: #767489;
	border-radius: 10px;
	color: #ffffff !important;
}
hr{
	border: 1px solid #989898;
	margin-top: 0px;
}
.tag-line h1{
	padding-top: 100px;
	text-align: center;
	padding-bottom: 260px;
	color: #fbf2f2 !important;
}
.tag-line h1{
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 7s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
/*Offer section*/
.offer{
	text-align: center;
}
.offer h1{
	text-transform: uppercase;
}

/*How it works section*/
.how-it-works{
	text-align: center;
	background-color:#black !important;
	color: #ffffff;
}
.how-it-works h1{
	text-transform: uppercase;
	color:#111111;
}
.how-bg p{
    color:gray;
}
.how-icon-bg{
	background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}
.card{
	border:none !important;
}
.card-title{
    font-weight:bold !important;
}
.icloud{
	background: rgb(90,113,220);
	background: linear-gradient(90deg, rgba(90,113,220,1) 0%, rgba(98,192,248,1) 74%);
}
.itunes{
    background: rgb(245,95,119);
    background: linear-gradient(90deg, rgba(245,95,119,1) 0%, rgba(122,107,255,1) 74%);
}
.appletv{
    background: rgb(117,155,166);
    background: linear-gradient(90deg, rgba(117,155,166,1) 0%, rgba(131,167,179,1) 52%);
}
.premiumbg{
    background: rgb(253,206,90);
    background: linear-gradient(90deg, rgba(253,206,90,1) 0%, rgba(249,180,79,1) 58%);
}
.icons{
	font-size: 25px;
    line-height: 45px;
    color: #ffffff;
}
/* Prices */
 .price{
 	background-color: #f4f4f4;
 }
 .prices{
 	display: block;
 	margin: 0 auto;
 }

 .price-heading p{
 	color: #5a5a5a;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 15px;

 }
 .price-top{
 	padding-top: 10px;
 }
.price-top-one{
    background-color: maroon;
 	
}
@keyframes priceonemate{
	0% {
    background-color: black;
	
  }
  100%, 0% {
    background-color: maroon;
  }
}
.price-top-two{
    background-color: gold;
 	
}
@keyframes pricetwomate{
	0% {
    background-color: black;
	
  }
  100%, 0% {
    background-color: gold;
  }
}
 .price-top h1{
 	color: #ffffff;
 	padding-top: 20px;
 	text-align: center;
 }
  .price-top h6{
 	color: #ffffff;
 	text-align: center;
 	padding-bottom: 85px;
 }
 .price-bottom{
 	position: relative;
 	background-color: #ffffff;
 	margin-top: -6px;
 	padding-bottom: 50px;
 }
.package {
	text-align: center;
    color: #ffffff;
    font-size: 25px;
}
.price-bottom h6{
	text-align: center;
	line-height: 20px;
	color: #5a5a5a;
}
.project{
	padding-top: 45px;
}

.btn-buy-now{
    margin: 0 auto;
    display: block;
    padding: 5px 42px;
    margin-top: 35px;
    border-radius: 10px;
}

/*Review Section start*/
.review{
	background-color: #add8e6;
}
.review h1{
	text-align: center;
}
.review-sub{
	text-align: center;
	padding-bottom: 20px;
}
.carousel{
	width: 80%;
	display: block;
	margin: 0 auto;
}
.user-review-image{
	height: 200px;
	width: 150px;
	display: block;
	margin: 0 auto;
}
.review h5{
	padding-top: 50px;
}
.carousel-indicators li {
    background-color: #8a7171;
}
.carousel-indicators {
    bottom: -55px;
}

/*Faq section start */
.header-faq{
	background-color: #f7f7f7;
}
.header-faq h1{
	text-align: center;
}
.faq{
	background-color: #ffffff;
    padding: 25px 40px;
    padding-bottom: 100px;
}
hr{
    border:1px solid black;
}


/*New css*/
.claim-section{
	background-color: white;
	padding-top: 50px;
	padding-bottom: 50px;
}
.post-claim-form{
	display: block;
	margin: 0 auto;
	width: 45%;
}
.post-claim-btn{
	display: block;
	margin: 0 auto;
}
.post-question h1{
	text-transform: uppercase;
	text-align: center;
}
.post-question p{
	text-align: center;
}
.ques-form{
	width: 75%;
	display: block;
	margin: 0 auto;
}
.ques-btn{
	display: block;
	margin: 0 auto;
}

.contact{
    padding:15px 0px !important;
    background-color: black;
    color:white;
}
.contact ul li a{
    color: white !important;
}
.contact ul li a:hover{
    color: white !important;
    text-decoration:none;
}
.contact-address:before{
  content: "\f015";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding-right: 10px;
  color: white;
  font-size: 17px;
}
.contact-email:before{
  content: "\f003";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding-right: 10px;
  color: white;
  font-size: 17px;
}
.contact-phone:before{
  content: "\f10a";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding-right: 10px;
  color: white;
  font-size: 17px;
}
.choose-bottom{
	margin-top: 20px;
}
body{
	position: relative;
}
.go-top{
	position: fixed;
    bottom: 70px;
    right: 70px;
    background-color: #989898;
    width: 56px;
    height: 56px;
    color: #eaeaea;
    border-radius: 100%;
    padding-left: 8px;
    font-size: 41px;
    opacity: 0.1;
}
.go-top:hover{
    opacity: 1;
}
/*css new*/
.ques-form{
	width: 70%;
	position: relative;
	margin-bottom: 70px;
}
.form-filed{
    height: 40px;
    margin: 0 auto;
    padding-left: 20px;
    border-radius: 25px;
    opacity: 0.7;
    border: 1px solid #8c7e7e;
}
.ques-btn{
	height: 40px;
	width: 170px;
	border-radius: 25px;
    color: white;
    text-align: center;
    background-color: black;
}
.ques-btn-field{
	position: absolute;
	right: 0;
	top: 0;
}

.card-title, .card-text{
    text-align:center !important;
}
.choose-us-section,.card{
    background-color: #fafafa;
}

.card:hover .card-text{
  position: relative;
  font-family: sans-serif;
  letter-spacing: 2px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 7s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
.how-card:hover .how-card-text{
  position: relative;
  font-family: sans-serif;
  letter-spacing: 2px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 7s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
